<a href="https://colab.research.google.com/github/KatsiarynaTsarkova/GitTutorial-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Заголовок

## Задача 0
 ```
 "dict1 = {'One': 1, 'Two': 2, 'Three': 3}\n",
 "dict2 = {'Four': 4, 'Five': 5, 'Six': 6}\n",

 ```

In [5]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [10]:
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [12]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [14]:
def merge_dicts(dict1, dict2):
  dict1.update(dict2)
  return dict1


merge_dicts(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [15]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [16]:
def get_dict(keys, values):
  res_dict = {}
  for i in range(len(keys)):
    res_dict.update({keys[i]: values[i]})
  return res_dict

get_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}